<!--Start Container-->

<div style="position: absolute;margin-top: 3.5cm;z-index: -1">

  <!-- Columns start at 50% wide on mobile and bump up to 33.3% wide on desktop -->
  <div class="row">
    <div class="col-6 col-md-4">


      <div class="row">
        <div class="col">

          <div class="card">

            <!--Card image-->
            <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).jpg" alt="Card image cap">

            <!--Card content-->
            <div class="card-body">
              <!--Title-->
              <h4 class="card-title">Card title</h4>
              <!--Text-->
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#">
                <button type="button" class="btn btn-success waves-light" mdbRippleRadius>Success</button>
              </a>
            </div>

          </div>

        </div>
        <div class="col">

          <div class="card">

            <!--Card image-->
            <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).jpg" alt="Card image cap">

            <!--Card content-->
            <div class="card-body">
              <!--Title-->
              <h4 class="card-title">Card title</h4>
              <!--Text-->
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#">
                <button type="button" class="btn btn-success waves-light" mdbRippleRadius>Success</button>
              </a>
            </div>

          </div>

        </div>
        <div class="col">

          <div class="card">

            <!--Card image-->
            <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).jpg" alt="Card image cap">

            <!--Card content-->
            <div class="card-body">
              <!--Title-->
              <h4 class="card-title">Card title</h4>
              <!--Text-->
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#">
                <button type="button" class="btn btn-success waves-light" mdbRippleRadius>Success</button>
              </a>
            </div>

          </div>

        </div>
        <div class="col">

          <div class="card">

            <!--Card image-->
            <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).jpg" alt="Card image cap">

            <!--Card content-->
            <div class="card-body">
              <!--Title-->
              <h4 class="card-title">Card title</h4>
              <!--Text-->
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#">
                <button type="button" class="btn btn-success waves-light" mdbRippleRadius>Success</button>
              </a>
            </div>

          </div>

        </div>
      </div>


    </div>



    <!--<div class="col-6 col-md-4"></div>-->



    <div class="col-6 col-md-4">


      <div class="row">
        <div class="col">

          <div class="card">

            <!--Card image-->
            <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).jpg" alt="Card image cap">

            <!--Card content-->
            <div class="card-body">
              <!--Title-->
              <h4 class="card-title">Card title</h4>
              <!--Text-->
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#">
                <button type="button" class="btn btn-success waves-light" mdbRippleRadius>Success</button>
              </a>
            </div>

          </div>

        </div>
        <div class="col">

          <div class="card">

            <!--Card image-->
            <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).jpg" alt="Card image cap">

            <!--Card content-->
            <div class="card-body">
              <!--Title-->
              <h4 class="card-title">Card title</h4>
              <!--Text-->
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#">
                <button type="button" class="btn btn-success waves-light" mdbRippleRadius>Success</button>
              </a>
            </div>

          </div>

        </div>
        <div class="col">

          <div class="card">

            <!--Card image-->
            <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).jpg" alt="Card image cap">

            <!--Card content-->
            <div class="card-body">
              <!--Title-->
              <h4 class="card-title">Card title</h4>
              <!--Text-->
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#">
                <button type="button" class="btn btn-success waves-light" mdbRippleRadius>Success</button>
              </a>
            </div>

          </div>

        </div>
        <div class="col">

          <div class="card">

            <!--Card image-->
            <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Lightbox/Thumbnail/img%20(97).jpg" alt="Card image cap">

            <!--Card content-->
            <div class="card-body">
              <!--Title-->
              <h4 class="card-title">Card title</h4>
              <!--Text-->
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#">
                <button type="button" class="btn btn-success waves-light" mdbRippleRadius>Success</button>
              </a>
            </div>

          </div>

        </div>
      </div>


    </div>



    <div class="col-6 col-md-4">


      <!--Carousel Wrapper-->
      <mdb-carousel [isControls]="true" class="carousel slide carousel-fade" [animation]="'fade'">
        <!--First slide-->
        <mdb-slide>
          <div class="view hm-black-light">
            <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(68).jpg" alt="First slide">
            <div class="mask waves-light" mdbRippleRadius></div>
          </div>
          <div class="carousel-caption">
            <h3 class="h3-responsive">Light mask</h3>
            <p>First text</p>
          </div>
        </mdb-slide>
        <!--/First slide-->
        <!--Second slide-->
        <mdb-slide>
          <div class="view hm-black-strong">
            <img class="d-block w-100" src="../../assets/mike-tinnion-327565-unsplash.jpg" alt="Second slide">
            <div class="mask waves-light" mdbRippleRadius></div>
          </div>
          <div class="carousel-caption">
            <h3 class="h3-responsive">Strong mask</h3>
            <p>Secondary text</p>
          </div>
        </mdb-slide>
        <!--/Second slide-->
        <!--Third slide-->
        <mdb-slide>
          <div class="view hm-black-slight">
            <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(9).jpg" alt="Third slide">
            <div class="mask waves-light" mdbRippleRadius></div>
          </div>
          <div class="carousel-caption">
            <h3 class="h3-responsive">Slight mask</h3>
            <p>Third text</p>
          </div>
        </mdb-slide>
        <!--/Third slide-->
      </mdb-carousel>
      <!--/.Carousel Wrapper-->



      <div><br><br></div>




      <div class="container">
        <div class="row justify-content-start">
          <div class="col-4">
            <h3><span class="badge badge-warning">Popular Searches</span></h3>
          </div>
          <!--<div class="col-4">-->
          <!--<h4>searches</h4>-->
          <!--</div>-->
        </div>
        <div class="row justify-content-center">
          <div class="col-4">
            <button type="button" class="btn btn-outline-default" mdbRippleRadius>Photo Editing</button>
          </div>
          <div class="col-4">
            <button type="button" class="btn btn-outline-default" mdbRippleRadius>Illustration</button>
          </div>
        </div>
        <div class="row justify-content-end">
          <div class="col-4">
            <button type="button" class="btn btn-outline-default" mdbRippleRadius>Animation</button>
          </div>
          <div class="col-4">
            <!--<button type="button" class="btn btn-outline-default" mdbRippleRadius>Default</button>-->
          </div>
        </div>
        <div class="row justify-content-around">
          <div class="col-4">
            <button type="button" class="btn btn-outline-default" mdbRippleRadius>Vector</button>
          </div>
          <div class="col-4">
            <button type="button" class="btn btn-outline-default" mdbRippleRadius>Press Release</button>
          </div>
        </div>
        <div class="row justify-content-between">
          <div class="col-4">
            <button type="button" class="btn btn-outline-default" mdbRippleRadius>video Editing</button>
          </div>
          <div class="col-4">
            <button type="button" class="btn btn-outline-default" mdbRippleRadius>Web Programming</button>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
