<div style="position: fixed;width: 100%;background-color: whitesmoke">

  <div class="row no-gutters">
    <div class="col-12 col-sm-6 col-md-8">



      <!--Navbar-->
      <mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo">

        <!-- Navbar brand -->
        <!--<logo><a class="navbar-brand" href="#"><span class="badge red">CVP</span></a></logo>-->

        <logo><a class="navbar-brand" href="#"><span class="fa fa-suitcase"></span></a></logo>

        <!-- Collapsible content -->
        <links>

          <!-- Links -->
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link waves-light" mdbRippleRadius>Home<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link waves-light" mdbRippleRadius>Features</a>
            </li>
            <li class="nav-item">
              <a class="nav-link waves-light" mdbRippleRadius>Pricing</a>
            </li>

            <!-- Dropdown -->
            <li class="nav-item dropdown" dropdown>
              <a dropdownToggle mdbRippleRadius type="button" class="nav-link dropdown-toggle waves-light" mdbRippleRadius>
                Basic dropdown<span class="caret"></span></a>
              <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
                <a class="dropdown-item waves-light" mdbRippleRadius href="#">Action</a>
                <a class="dropdown-item waves-light" mdbRippleRadius href="#">Another action</a>
                <a class="dropdown-item waves-light" mdbRippleRadius href="#">Something else here</a>
                <div class="divider dropdown-divider"></div>
                <a class="dropdown-item waves-light" mdbRippleRadius href="#">Separated link</a>
              </div>
            </li>

          </ul>
          <!-- Links -->

          <!-- Search form -->
          <form class="form-inline  waves-light" mdbRippleRadius>
            <input class="form-control mr-sm-2" type="text" placeholder="Search">
          </form>
        </links>
        <!-- Collapsible content -->

      </mdb-navbar>
      <!--/.Navbar-->


    </div>

    <div class="col-6 col-md-4" style="background-color: lightgrey">
      <h1 class="animated bounce infinite"><span class="badge blue">MYLink</span></h1>
    </div>
  </div>






  <div class="row">
    <div class="col-sm">


      <div class="row">
        <div class="col">


          <div class="btn-group" dropdown>
            <button dropdownToggle type="button" class="btn purple-gradient btn-sm waves-light" mdbRippleRadius>
              <h7 style="color:#000;">Graphics & Design</h7>
            </button>

            <div class="dropdown-menu dropdown-primary">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
              <div class="divider dropdown-divider"></div>
              <a class="dropdown-item" href="#">Separated link</a>
            </div>
          </div>


        </div>
        <div class="col">


          <div class="btn-group" dropdown>
            <button dropdownToggle type="button" class="btn purple-gradient btn-sm waves-light" mdbRippleRadius>
              <h7 style="color:#000;">Digital Marketing</h7>
            </button>

            <div class="dropdown-menu dropdown-primary">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
              <div class="divider dropdown-divider"></div>
              <a class="dropdown-item" href="#">Separated link</a>
            </div>
          </div>


        </div>
        <div class="col">


          <div class="btn-group" dropdown>
            <button dropdownToggle type="button" class="btn purple-gradient btn-sm waves-light" mdbRippleRadius>
              <h7 style="color:#000;">Writing & Translation</h7>
            </button>

            <div class="dropdown-menu dropdown-primary">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
              <div class="divider dropdown-divider"></div>
              <a class="dropdown-item" href="#">Separated link</a>
            </div>
          </div>


        </div>
        <div class="col">


          <div class="btn-group" dropdown>
            <button dropdownToggle type="button" class="btn purple-gradient btn-sm waves-light" mdbRippleRadius>
              <h7 style="color:#000;">Video & Animation</h7>
            </button>

            <div class="dropdown-menu dropdown-primary">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
              <div class="divider dropdown-divider"></div>
              <a class="dropdown-item" href="#">Separated link</a>
            </div>
          </div>


        </div>
        <div class="col">


          <div class="btn-group" dropdown>
            <button dropdownToggle type="button" class="btn purple-gradient btn-sm waves-light" mdbRippleRadius>
              <h7 style="color:#000;">Music & Audio</h7>
            </button>

            <div class="dropdown-menu dropdown-primary">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
              <div class="divider dropdown-divider"></div>
              <a class="dropdown-item" href="#">Separated link</a>
            </div>
          </div>


        </div>
        <div class="col">


          <div class="btn-group" dropdown>
            <button dropdownToggle type="button" class="btn purple-gradient btn-sm waves-light" mdbRippleRadius>
              <h7 style="color:#000;">Programming & Tech</h7>
            </button>

            <div class="dropdown-menu dropdown-primary">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
              <div class="divider dropdown-divider"></div>
              <a class="dropdown-item" href="#">Separated link</a>
            </div>
          </div>


        </div>
        <div class="col">


          <div class="btn-group" dropdown>
            <button dropdownToggle type="button" class="btn purple-gradient btn-sm waves-light" mdbRippleRadius>
              <h7 style="color:#000;">Business</h7>
            </button>

            <div class="dropdown-menu dropdown-primary">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
              <div class="divider dropdown-divider"></div>
              <a class="dropdown-item" href="#">Separated link</a>
            </div>
          </div>


        </div>
        <div class="col">


          <div class="btn-group" dropdown>
            <button dropdownToggle type="button" class="btn purple-gradient btn-sm waves-light" mdbRippleRadius>
              <h7 style="color:#000;">Fun & Lifestyle</h7>
            </button>

            <div class="dropdown-menu dropdown-primary">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
              <div class="divider dropdown-divider"></div>
              <a class="dropdown-item" href="#">Separated link</a>
            </div>
          </div>


        </div>

      </div>

    </div>
  </div>




  <div><br></div>




  <!-- Stack the columns on mobile by making one full-width and the other half-width -->
  <div class="row">
    <div class="col col-md-8">

    </div>

  </div>

</div>


<div><br></div>

