<!-- Full Page Intro -->
<div class="view">
    <!-- Mask & flexbox options-->
    <div class="mask rgba-gradient d-flex justify-content-center align-items-center">
        <!-- Content -->
        <div class="container">
            <!--Grid row-->
            <div class="row mt-5">
                <!--Grid column-->
                <div class="col-md-6 mb-5 mt-md-0 mt-5 white-text text-center text-md-left">
                    <h1 class="h1-responsive font-weight-bold wow fadeInLeft" data-wow-delay="0.3s">Sign up right now! </h1>
                    <hr class="hr-light wow fadeInLeft" data-wow-delay="0.3s">
                    <h6 class="mb-3 wow fadeInLeft" data-wow-delay="0.3s">
                        <div class="row pb-4">
                            <div class="col-2 col-lg-1">
                                <i class="fa fa-bank indigo-text fa-lg"></i>
                            </div>
                            <div class="col-10">
                                <h4 class="font-weight-bold mb-4"><strong>Safety</strong></h4>
                                <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda deleniti hic.</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row pb-4">
                            <div class="col-2 col-lg-1">
                                <i class="fa fa-bank indigo-text fa-lg"></i>
                            </div>
                            <div class="col-10">
                                <h4 class="font-weight-bold mb-4"><strong>Safety</strong></h4>
                                <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit maiores nam, aperiam minima assumenda deleniti hic.</p>
                            </div>
                        </div>

                    </h6>
                    <!-- <a class="btn btn-outline-white wow fadeInLeft" data-wow-delay="0.3s">
                        
                    </a> -->

                    


                </div>
                <!--Grid column-->
                <!--Grid column-->
                <div class="col-md-6 col-xl-5 mb-4">
                    <!--Form-->

                    <!-- Card -->
                    <div class="card">

                        <!-- Card body -->
                        <div class="card-body">

                            <!-- Material form register -->
                            <form>
                                <p class="h4 text-center py-4">Sign up</p>

                                <!-- Material input text -->
                                <div class="md-form">
                                    <i class="fa fa-user prefix grey-text"></i>
                                    <input type="text" id="materialFormCardNameEx" class="form-control">
                                    <label for="materialFormCardNameEx" class="font-weight-light">Your name</label>
                                </div>

                                <!-- Material input email -->
                                <div class="md-form">
                                    <i class="fa fa-envelope prefix grey-text"></i>
                                    <input type="email" id="materialFormCardEmailEx" class="form-control">
                                    <label for="materialFormCardEmailEx" class="font-weight-light">Your email</label>
                                </div>

                                <!-- Material input email -->
                                <div class="md-form">
                                    <i class="fa fa-exclamation-triangle prefix grey-text"></i>
                                    <input type="email" id="materialFormCardConfirmEx" class="form-control">
                                    <label for="materialFormCardConfirmEx" class="font-weight-light">Confirm your email</label>
                                </div>

                                <!-- Material input password -->
                                <div class="md-form">
                                    <i class="fa fa-lock prefix grey-text"></i>
                                    <input type="password" id="materialFormCardPasswordEx" class="form-control">
                                    <label for="materialFormCardPasswordEx" class="font-weight-light">Your password</label>
                                </div>

                                <div class="text-center py-4 mt-3">
                                    <button class="btn btn-cyan" type="submit" id="regBtn">Register</button>
                                </div>
                            </form>
                            <!-- Material form register -->

                        </div>
                        <!-- Card body -->

                    </div>
                    <!-- Card -->

                    <!--/.Form-->
                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </div>
        <!-- Content -->
    </div>
    <!-- Mask & flexbox options-->
</div>
<!-- Full Page Intro -->