.icons {
    
}

.icons li {
  display:inline-block; 
  margin: 0 4px;
}
.icons i  {
    font-size: 24px;
    height: 64px;
    line-height: 64px;
    text-align: center;
    width: 64px;
    border-radius: 100%;
    color:#fff;
    box-shadow: inset 0 0 0 1px #d7d7d7;
    position: relative;
    cursor: crosshair;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -webkit-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.icons i:hover, .icons i:focus {    
  color: #fff;
  box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.8);
  -moz-transform: rotate(5deg) scale(1.1);
    -ms-transform: rotate(5deg) scale(1.1);
    -webkit-transform: rotate(5deg) scale(1.1);
    transform: rotate(5deg) scale(1.1);
  /*fallback*/
  background-image: -webkit-linear-gradient(left, #2caab3 0%, #2c8cb3 100%);
  background-image: -moz-linear-gradient(left, #2caab3 0%, #2c8cb3 100%);
  background-image: -o-linear-gradient(left, #2caab3 0%, #2c8cb3 100%);
  background-image: linear-gradient(to right, #2caab3 0%, #2c8cb3 100%);
  background-image: -webkit-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -ms-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
}
.icons .fa-twitter:hover, .icons .fa-twitter:focus {    
  background-image: -webkit-linear-gradient(left, #2caab3 0%, #2c8cb3 100%);
  background-image: -moz-linear-gradient(left, #2caab3 0%, #2c8cb3 100%);
  background-image: -o-linear-gradient(left, #2caab3 0%, #2c8cb3 100%);
  background-image: linear-gradient(to right, #2caab3 0%, #2c8cb3 100%);
  background-image: -webkit-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
  background-image: -ms-linear-gradient(90deg, #2caab3 0%, #2c8cb3 100%);
}

.icons .fa-facebook:hover, .icons .fa-facebook:focus {    
  background-image: -webkit-linear-gradient(left, #6F5AC3  0%, #34495e 100%);
  background-image: -moz-linear-gradient(left, #6F5AC3  0%, #34495e 100%);
  background-image: -o-linear-gradient(left, #6F5AC3  0%, #34495e 100%);
  background-image: linear-gradient(to right, #6F5AC3  0%, #34495e 100%);
  background-image: -webkit-linear-gradient(90deg, #6F5AC3  0%, #34495e 100%);
  background-image: -ms-linear-gradient(90deg, #6F5AC3  0%, #34495e 100%);
}
.icons .fa-youtube:hover, .icons .fa-youtube:focus {    
  background-image: -webkit-linear-gradient(left, #FF0684 0%, #34495e 100%);
  background-image: -moz-linear-gradient(left, #FF0684 0%, #e74c3c 100%);
  background-image: -o-linear-gradient(left, #FF0684  0%, #e74c3c 100%);
  background-image: linear-gradient(to right, #FF0684  0%, #e74c3c 100%);
  background-image: -webkit-linear-gradient(90deg, #FF0684 0%, #e74c3c  100%);
  background-image: -ms-linear-gradient(90deg, #FF0684 0%, #e74c3c 100%);

}

.icons .fa-vine:hover, .icons .fa-vine:focus {    
  background-image: -webkit-linear-gradient(left, #16a085 0%, #34495e 100%);
  background-image: -moz-linear-gradient(left, #16a085 0%, #1abc9c 100%);
  background-image: -o-linear-gradient(left, #16a085  0%, #1abc9c 100%);
  background-image: linear-gradient(to right, #16a085  0%, #1abc9c 100%);
  background-image: -webkit-linear-gradient(90deg, #16a085 0%, #1abc9c  100%);
  background-image: -ms-linear-gradient(90deg, #16a085 0%, #1abc9c 100%);

}


