.view{
    width: 50cm;
    height: 20cm;
    // top: 60px;
    background-color:blue;
    //background-image: url('http://mdbootstrap.com/img/Photos/Others/images/91.jpg');
    //background-image: url('../../../src/assets/Back.jpg');

    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center center; 
}