.view{
    width: 100%;
    height: 85%;
    top: 64px;
    background-color: red;
    //background-image: url('http://mdbootstrap.com/img/Photos/Others/images/91.jpg'); 
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center center; 
}